<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="Github" value="https://nuget.pkg.github.com/Orthodox-Union/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Github>
      <add key="Username" value="shelomo"/>
      <add key="ClearTextPassword" value="ghp_nVFW3dTueW" />
    </Github>
  </packageSourceCredentials>
</configuration>